* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.pacman {
    width: 4rem;
    height: 4rem;
    position: absolute;

    /* Manipular o eixo Y */
    top: 0px;

    /* Manipular o eixo X */
    left: 0px;

    /* Manipular o eixo A */
    right: 0px;
}